<div class="aboveTheFoldSection">
    <div class="textSection">
        <span class="transForm90">I am</span>
        <div class="nameAndJobTitle">
            <h1>Gerrit Pickart</h1>
            <span>Frontend Developer</span>
        </div>
    </div>

    <div class="letsTalkSection">
        <button>Let's talk!</button>
    </div>

</div>

<div class="socialSection">
    <div class="blue-line"></div>
    <img src="../../assets/images/social/git.png" />
    <img src="../../assets/images/social/mail.png" />
    <img src="../../assets/images/social/linkedin.png" />
    <div class="scrollDownSection">
        <p>scroll down <img src="../../assets/images/arrow-down.png" alt=""></p>
        
    
    </div>
    
  </div>