<div class="aboveTheFoldSection">
    <div class="textSection">
        <span class="transForm90">I am</span>
        <div class="nameAndJobTitle">
            <h1>Gerrit Pickart</h1>
            <span>Frontend Developer</span>
        </div>
    </div>

    <div class="letsTalkSection">
        <button>Let's talk!</button>
    </div>

</div>

<div class="socialAndScrollSection">
    <div class="socialSection">
        <div class="blue-line"></div>
        <a href="#">
            <img src="../../assets/images/social/git.png" />
        </a>
        <a href="#"><img src="../../assets/images/social/mail.png" />
        </a>
        <a href="#">
            <img src="../../assets/images/social/linkedin.png" />
        </a>

    </div>
    <div class="scrollDownSection">
        <span>scroll down <img class="arrow" src="../../assets/images/arrow-down.png" alt=""></span>

    </div>


</div>